# Dependências
node_modules/

# Logs e caches
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Builds e artefatos
dist/
build/
coverage/

# Configurações de IDE
.idea/
.vscode/
*.iml

# Arquivos de sistema
.DS_Store
Thumbs.db

# Ambiente
.env
.env.*
